.header
  %p グループを作成しました
.sidebar
  .sidebar__top
    %p seo
    .icon
      %a
        %i.fa.fa-edit.edit
      %a
        %i.fa.fa-cog.cog
  .sidebar__bottom
    %ul
      %li
        %p.sidebar__bottom__groupname sample
        %p.sidebar__bottom__talk こんにちは
      %li
        %p.sidebar__bottom__groupname sample
        %p.sidebar__bottom__talk こんにちは
.talkspace
  .talkspace__top
    .talkspace__top__name
      %p sample
      %p.talkspace__top__name__members Members: seo neko
    .talkspace__top__edit
      %a.talkspace__top__edit__btn edit
  .talkspace__middle
    %ul
      %li
        %p.talkspace__middle__username test_user
        %p.talkspace__middle__time
          2019/02/04(Mon) 17:00:01
        %p.talkspace__middle__message こんにちは
      %li
        %p.talkspace__middle__username test_user
        %p.talkspace__middle__time
          2019/02/04(Mon) 17:00:01
        %p.talkspace__middle__message こんにちは
  .talkspace__bottom
    %form.talkspace__bottom__form
      .talkspace__bottom__form__message
        %input.talkspace__bottom__form__message__type{placeholder: "type a message", type: "text"}/
        %label.talkspace__bottom__message__form__photo
          %i.fa.fa-image.photo
          %input#filesend{name: "datafile", type: "file"}/
      %input#submit-btn{name: "submit", type: "submit", value: "Send"}/
