<header>
    <div class="header__top">
        <p>グループを作成しました</p>
    </div>
    <div class="header__bottom">
        <div class="header__left">
            <p>seo</p>
            <div class="header__icon">
            <a></a>
            </div>
        </div>
        <div class="header__right">
            <p>sample</p>
            <p class="members">Members: seo neko</p>
        </div>
        <a class="header__btn">edit</a>
    </div>
</header>
<div class="contents">
    <div class="contents__leftbar">
        <ul>
            <li>
                <p class="contents__left__groupname">sample</p>
                <p class="contents__left__talk">こんにちは</p>
            </li>
            <li>
                <p class="contents__left__groupname">sample</p>
                <p class="contents__left__talk">こんにちは</p>
            </li>
        </ul>
    </div>
    </div>
    <div class="contents__talkspace">
        <ul class="contents__talkspace__talk">
            <li>
                <p class="contents__talkspace__username">test_user</p>
                <p class="contents__talkspace__time">2019/02/04(Mon) 17:00:01
                <p class="contents__talkspace__message"> こんにちは</p>
            </li>
            <li>
                <p class="contents__talkspace__username">test_user</p>
                <p class="contents__talkspace__time">2019/02/04(Mon) 17:00:01
                <p class="contents__talkspace__message"> こんにちは</p>
            </li>
        </ul>
    </div>
    <div class="contents__bottom">
    </div>
</div>




