<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
</head>

    <header>
        <p>グループを作成しました</p>
    </header>
    <div class=sidebar>
        <div class="sidebar__top">
            <p>seo</p>
            <div class="icon">
                <a><i class="fas fa-edit edit"></i></a>
                <a><i class="fas fa-cog cog"></i></a>
            </div>
        </div>
        <div class="sidebar__bottom">
            <ul>
                <li>
                    <p class="sidebar__bottom__groupname">sample</p>
                    <p class="sidebar__bottom__talk">こんにちは</p>
                </li>
                <li>
                    <p class="sidebar__bottom__groupname">sample</p>
                    <p class="sidebar__bottom__talk">こんにちは</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="talkspace">
        <div class="talkspace__top">
            <div class="talkspace__top__name">
                <p>sample</p>
                <p class="talkspace__top__name__members">Members: seo neko</p>
            </div>
            <div class="talkspace__top__edit">
                <a class="talkspace__top__edit__btn">edit</a>
            </div>
        </div>
        <div class="talkspace__middle">
            <ul>
                <li>
                    <p class="talkspace__middle__username">test_user</p>
                    <p class="talkspace__middle__time">2019/02/04(Mon) 17:00:01
                    <p class="talkspace__middle__message"> こんにちは</p>
                </li>
                <li>
                    <p class="talkspace__middle__username">test_user</p>
                    <p class="talkspace__middle__time">2019/02/04(Mon) 17:00:01
                    <p class="talkspace__middle__message"> こんにちは</p>
                </li>
            </ul>
        </div>
        <div class="talkspace__bottom">
            <form class="talkspace__bottom__form">
                <div class="talkspace__bottom__form__message">
                    <input placeholder="type a message" type="text" class="talkspace__bottom__form__message__type">
                    <label class="talkspace__bottom__message__form__photo">
                    <i class="far fa-image photo"></i>
                    <input type="file" name="datafile" id="filesend">
                    </label>
                </div>
                    <input value="Send" type="submit" name="submit" id="submit-btn">
            </form>
        </div>
    </div>
