.Header
    .Header__top
    グループを作成しました
    .Header__left
    seo
    .Header__right
    Sample
    Members: seo neko
.Contents
    .Contents__left
    Sample
    Good bye world!
    .Contents__right
    
    .Contents__bottom